/AddBookToStoreScreen.class
/AddCompactDiscToStoreScreen.class
/AddDigitalVideoDiscToStoreScreen.class
/MediaStore$btnPlay.class
/MediaStore.class
/Screen.class
/StoreManagerScreen.class
/mainStore.class
/playScreen$btnBack.class
/playScreen.class
/mainStoreScreen.class
